* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* widows: 100%; */
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1c1c1c;
}

.linkgroup {
  list-style: none;
  display: flex;
}

.link a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
}
.link a:hover,
.link.active a {
  opacity: 1;
}
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}
.home-section {
  width: 100%;
  height: 100vh;
  padding: 0, 150px;
  display: inline-block;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.heading {
  margin-top: 100px;
  display: inline-block;
  color: #fff;
  margin-left: 20px;
  font-size: 80px;
  text-transform: capitalize;
  font-weight: 250;
}

.social{
  
  
  color: #fff;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 50%;
  margin-top: 15px;
  padding: auto;

}
.s-img{
  background: #191919;
  
  height: 80px;
  padding: 10px;
  border-radius: 5%;
}
.s-img:hover{
  background: #fff;
  
}
.home-img {
  position: absolute;
  top: 80px;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.6;
}
.home-img:hover {
  opacity: 1;
}

/* project section */

.project-section {
  width: 100%;
  min-height: 100vh;
  top: 0;
  padding: 150px 100px 100px;
  transition: 0.5s;
  position: fixed;
  opacity: 0;
}

.project-heading {
  font-size: 60px;
  background-color: #5a5757;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;

  color: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin: 20px;
}

.project-card {
  height: 100%;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}
.project-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  position: relative;
  margin: 2%;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-card:hover {
  .project-content {
    opacity: 1;
  }
  .project-img {
    filter: blur(3px);
  }
}

/* about section  */
.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 100px 100px 0;

  transition: 0.5s;
  position: fixed;
  opacity: 0;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
}

.about-img-cotainer {
  position: absolute;
}

.about-img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;

  padding: 5% 0 5% 0;
  opacity: 0.7;
}
.about-img:hover {
  opacity: 1;
}

.about-info {
  color: #fff;
  opacity: 0.9;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.str-heading {
  opacity: 1 !important;
  font-size: 30px;
  font-style: oblique;
  color: #fff !important;
}
.download-cv-btn {
  position: relative;
  bottom: 20%;
  left: 40%;
  color: #fff;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
}
.download-cv-btn:hover {
  background: #191919;
  color: #fff;
}

/* skill section  */

.skill-section {
  position: relative;
  margin: 50px 0;
}

.heading-skill {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 50px;
}

.skill-container {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 0.65fr);
  gap: 10px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
  width: 150px;
  border-radius: 10%;
  opacity: 0.8;
}
.skill-img:hover {
  opacity: 1;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0 10px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;

  line-height: 30px;
}

.skill-lvl {
  position: absolute;
  top: 120px;
  right: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  font-size: 25px;
  color: black;
  border-radius: 50%;
  border: 7px solid;
}

.skill-card:nth-child(1) .skill-lvl {
  background: #be7979;
  border-color: #ff4f4f;
  color: rgb(234, 7, 7);
}

.skill-card:nth-child(2) .skill-lvl {
  border-color: rgb(12, 2, 61);
  color: rgb(4, 2, 46);
  background: #3829e7;
}
.skill-card:nth-child(3) .skill-lvl {
  border-color: rgb(252, 248, 4);
  color: rgb(249, 249, 245);
  background: #9fa318e4;
}
.skill-card:nth-child(4) .skill-lvl {
  border-color: rgb(7, 7, 7);
  color: rgb(0, 255, 8);
  background: #ece4e4;
}
.skill-card:nth-child(5) .skill-lvl {
  border-color: rgb(5, 198, 208);
  color: rgb(21, 209, 209);
  background: #fbf9f9;
}
.skill-card:nth-child(6) .skill-lvl {
  border-color: rgb(6, 174, 15);
  color: rgb(11, 166, 45);
  background: #f9f4f4;
}

.timeline {
  display: block;
  margin-bottom: 50px;
}

.timeline .heading-exp {
  margin-bottom: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -50 0;
  position: relative;
  background-color: #ff4f4f;
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -14%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid rgb(21, 21, 21);
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 8%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -14%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid rgb(30, 29, 29);
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 8%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #be7979;
}
.card:nth-child(3),
.card:nth-child(3):before {
  background: #1fdc1c;
}
.card:nth-child(4),
.card:nth-child(4):before {
  background: #6755cb;
}
.card:nth-child(5),
.card:nth-child(5):before {
  background: #635757;
}
.card:nth-child(6),
.card:nth-child(6):before {
  background: #879f33;
}

.card:nth-child(even) .card-body::before {
  content: "";
  position: absolute;
  left: -11%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}

.card-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-section{
  position: fixed;
  top: 0;
  transition: 0.5s;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  grid-template-columns:  repeat(2 , 1fr);
  gap: 50px;
  opacity: 0;

}

.contact-form input , .contact-form textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder{
  color: #fff;
}
#msg {
  height: 280px;
  resize: none;
}

.form-submit-btn{
  background: red;
  color: white;
  text-transform: capitalize;
  padding: 15px 40px;
 display: block;
 margin: auto;
 border: none;
 border-radius: 10px;
 cursor: pointer; 
}

.map{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #191919;
  border-radius: 5px;
}

.map iframe{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
