* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* widows: 100%; */
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1c1c1c;
}

.linkgroup {
  list-style: none;
  display: flex;
}

.link a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
}
.link a:hover,
.link.active a {
  opacity: 1;
}
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}
.home-section {
  width: 100%;
  height: 100vh;
  padding: 0, 150px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.heading {
  color: #fff;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
}

.home-img {
  position: absolute;
  top: 80px;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.6;
}
.home-img:hover{
  opacity: 1;
}

/* project section */

.project-section {
  width: 100%;
  min-height: 100vh;
  top: 0;
  padding: 150px 100px 100px;
  transition: 0.5s;
  position: fixed;
  opacity: 0;
}

.project-heading {
  font-size: 60px;
  background-color: #5a5757;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;

  color: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin: 20px;
}

.project-card {
  height: 100%;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}
.project-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  position: relative;
  margin: 2%;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-card:hover {
  .project-content {
    opacity: 1;
  }
  .project-img {
    filter: blur(3px);
  }
}

/* about section  */
.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 100px 100px 0;
  
  transition: 0.5s;
  position: fixed;
  opacity: 0;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
}

.about-img-cotainer {
  position: absolute;
}

.about-img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  
  padding: 5% 0 5% 0;
  opacity: 0.7;
  
}
.about-img:hover{
  opacity: 1;
}

.about-info {
  color: #fff;
  opacity: 0.9;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.str-heading {
  opacity: 1 !important;
  font-size: 30px;
  font-style: oblique;
  color: #fff !important;
}
.download-cv-btn {
  position: relative;
  bottom: 20%;
  left: 40%;
  color: #fff;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: capitalize;
}
.download-cv-btn:hover {
  background: none;
  
}

/* skill section  */

.skill-section {
  position: relative;
  margin: 50px 0;
}

.heading-skill {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 50px;
}

.skill-container {
  width: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 0.65fr);
  gap: 10px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
  width: 150px;
  border-radius: 10%;
  opacity: 0.8;
}
.skill-img:hover {
  opacity: 1;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0 10px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;

  line-height: 30px;
}

.skill-lvl {
  position: absolute;
  top: 120px;
  right: 60px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  font-size: 25px;
  color: black;
  border-radius: 50%;
  border: 7px solid;
}

.skill-card:nth-child(1) .skill-lvl {
  background: #be7979;
  border-color: #ff4f4f;
  color: rgb(234, 7, 7);
}

.skill-card:nth-child(2) .skill-lvl{
  border-color: rgb(12, 2, 61);
  color: rgb(4, 2, 46);
  background: #3829e7;
}
.skill-card:nth-child(3) .skill-lvl{
  border-color: rgb(252, 248, 4);
  color: rgb(249, 249, 245);
  background: #9fa318e4;
}
.skill-card:nth-child(4) .skill-lvl{
  border-color: rgb(7, 7, 7);
  color: rgb(0, 255, 8);
  background: #ece4e4;
}
.skill-card:nth-child(5) .skill-lvl{
  border-color: rgb(5, 198, 208);
  color: rgb(21, 209, 209);
  background: #fbf9f9;
}
.skill-card:nth-child(6) .skill-lvl{
  border-color: rgb(6, 174, 15);
  color: rgb(11, 166, 45);
  background: #f9f4f4;
}

.timeline{
  display: block;
  width: 80%;
  margin: 150px auto;
}

.timeline .heading-exp{
  margin-bottom: 150px;
}