body{
    background-color: azure;
}
#pp{
height: 180px;    
outline: auto;
border-radius: 50%;

}

#cc{
    padding-left: 10px;
    padding-top: 10px;
}
h1{
    color: rgb(24, 112, 179);
    margin-left: 20px;
}
h2{
    margin-top: 2px;
    color: red;
}
h3{
    
    margin-top: 2px;
}
hr{
    border-top: 10px dotted rgb(146, 220, 241);
    width: 30%;
  
}
td{
    display: inline;
    margin-left: 80px;
    font-style: oblique;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr{
    align-content: center;
    margin-left: 30px;
}