<!DOCTYPE html>
<html lang="en">
    <header>
        <title> my resume</title>
    </header>
    <body>
        <h1>Deepesh Kumar</h1>
        <h2>Summary</h2>
        <p>ighly skilled MERN Stack Developer with two years of professional experience. Proficient in developing scalable and efficient web applications using MongoDB, Express.js, React.js, and Node.js. Strong problem-solving and communication skills
            with a passion for creating clean </p><br>
            <h2>Education</h2>
            <ul>
                <li><h3>B.tech computer science engineering</h3></li>
                <p><h4>MRSPTU , Bathinda , punjab</h4></p>
            </ul>
    </body>
</html>