<!DOCTYPE html>
<html lang="en">
<head>
    <title> my resume</title>
    <link rel="stylesheet" href="./style.css" >
</head>

<body>
hello

    <div>
        <h1>Deepesh Kumar</h1>
        <div> <img src="../public/pass_pic.jpg"></div>
        <h2>Summary</h2>
        <p>Highly skilled MERN Stack Developer with two years of professional experience. <br>
            Proficient in developing scalable and efficient web applications using MongoDB, Express.js, React.js, and
            Node.js. Strong problem-solving and communication skills
            with a passion for creating clean </p><br>
        <hr>
        <h2>Education</h2>
        <ul>
            <li>
                <h3>B.Tech ,Computer Science Engineering
                </h3>
            </li>
            <p>MRSPTU , Bathinda, Punjab
                Scored 75% , (2016-2020)</p>

            <li>

                <h3>Certificate program/equivalent 12th</h3>
                <p>SLIET , Sangrur, Punjab
                    Scored 65% , (2013-2016)
                    CMEE</p>
            </li>
        </ul>

        <hr>
        <h2>Work Experience</h2>
        <ul>
            <li>
                <h3>Associate Software Developer</h3>
            </li>
            <p>SoftSpin Technologies pvt.ltd (Hyderabad,Telangana) Jan 2021 -Feb 2023</p>
            <ul>
                <li>Collaborated with cross-functional teams to design and develop full-stack web applications using
                    Java and MERN Stack.</li>
                <li>Implemented RESTful APIs and integrated third-party APIs for seamless data exchange.</li>
                <li>Developed responsive and user-friendly UI components using React.js, HTML, CSS, and JavaScript.
                </li>
                <li>Created and maintained efficient backend services using Node.js and Express.js.</li>
                <li>Designed and optimized MongoDB database schemas and performed query optimization.</li>
                <li>Implemented authentication and authorization features using JWT.</li>
                <li>Conducted code reviews and provided constructive feedback to team members.</li>
                <li>Troubleshooted and debugged application issues to ensure smooth functionality.</li>
                <li>Implemented frontend features using React.js, Redux, and Material-UI.</li>
                <li>Collaborated with UI/UX designers to create intuitive and visually appealing interfaces.</li>
                <li>Worked closely with the QA team to ensure high-quality and bug-free code.</li>
                <li>Kept up-to-date with the latest industry trends and technologies.</li>
            </ul>
        </ul>

        <hr>
        <h2>Skills</h2>
        <ul>
            <li>Frontend: <ul>
                    <li>React.js</li>
                    <li>Redux</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </li>
            <li>Backend: <ul>
                    <li>Node.js</li>
                    <li>Express.js</li>
                </ul>

            </li>
            <li>
                Database: <ul>
                    <li>MongoDB</li>
                    <li> Mongoose</li>
                </ul>
            </li>
        </ul>

    </div>


</body>

</html>